.newTing{
 
    position: absolute;
   top: 100%;
   left: 100%;
   transform: translate(-50%, -50%);
}

.postion-buttom{

    position: absolute;
    bottom: 0rem;
    width: 100%;
    background: white;
    height: 4rem;
    left: 0rem
}

.cancal-bottom{
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #eee;
    color: black;
    text-transform: capitalize;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

.box-alert{
   
    display: flex;
    padding: 0rem;
    justify-content: space-between;
    align-items: center;
   padding: 1rem;
    border-bottom: 3px solid #eee;
  
}
.class-close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #eee;
    border-radius: 50%;
    text-align: center;
    

    
    
}.class-close span{
    line-height: 25px;
    font-size: 19px;
    font-weight: bold;
}
.title-add .title-add-profile{
    color: black;
    padding: 0rem;
    margin: 0rem;
    text-transform: capitalize;
    font-size: 17px;
    font-family: system-ui;

}
.scrollAlert{
    height: 550px;
    overflow:hidden;
    /* background-color: brown; */

   
 
    
}
.scroll-bottom-style{
    margin-top: 2rem;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    max-height: 75vh;
    margin-bottom: 1rem;
    box-sizing: inherit;
}

.MyPhone{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.selectionHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.openSelection{
    
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 19px;

}
.openSelection.action{
    background-color: #ff3b2f85;
}

.openSelection span {
    font-size: 14px;
    text-transform: capitalize;
}
.Image-selection{

    width: 30px;
    height: 30px;
    object-fit: cover;
}

@media  (max-width: 400px) {
    .scrollAlert{
        height: 100vh;
    }
}