.extra-padding-dddd{
 

    margin-top: 2.2rem;
}
.filter-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    
}
.Active-items-filter{
    padding: 0.3rem;
    background-color: rgba(255, 57, 47, 0.235);
    border-radius: 0.9rem;
    text-transform: capitalize;
    margin-left: 0.2rem;
    color: white;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin-bottom: 0.2rem;
}
.Active-items-filter.active{
    background-color: rgba(255, 57, 47, 0.735);
}
.add-padding-filter{
    padding: 1rem;
}
.image-res{
    transition: all 2s;
}
.image-res:hover{
    transform: scale(1.1);

}
.box-Slider-Show-home.notPadding{
padding: 0rem;
margin: 0rem;
margin-bottom: 0.5rem;
}
.visaProduct-css-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.Title-name-products-text h1{
    font-family: 'Mochiy Pop P One';
    text-transform: capitalize;
}
.Title-name-products-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.text-filter-product-method{
    margin-left: 0.5rem;
}