/* 
login-padding ... pading in screen
login-margin-top-bottom   margin-top and bottom
*/

/* start change password */
.create_singUp
{
    font-family: 'Mochiy Pop P One';
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
.change-password{
    margin-top: 5rem;
    padding: 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.change-password h1
{
    font-family: 'Mochiy Pop P One';
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.Input-typy-input{
    border-radius: 0.5rem;
    font-size: 18px;
    color: black;
    height: 44px;
}
.Input-typy-input:focus {
    color: #212529;
    background-color: #fff;
    border-color: white;
    outline: 0;
    box-shadow: 0 0 0 0rem white;
}
.save-change{
    margin-top: 2rem;
}
/* end change password */

.GOOLGELOGIN{
    background-color: white;
    border-radius: 0.4rem;
    overflow: hidden;
    margin-bottom: 0.7rem;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    cursor: pointer;
    position: relative;
  
    
}.GOOLGELOGIN span{
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    color: black;
}
.class-facebook{
    margin-right: 10px;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-text{
    color: white;
}
.GOOLGELOGIN .xppsdpd{
 
    display: flex;
     width: 100%;

}
.handle-dev-image
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    padding: 1rem;
    border-radius: 0.5rem;
    opacity: 0.9;
    cursor: pointer;
}
.loading-loading{

    text-align: center;
    margin-top: 4rem;
    cursor: pointer;
}
.handle-dev-image span
{
    text-transform: capitalize;
    color: white;
    font-family: Heebo, sans-serif;
    font-size: 17px;
}
.close-image-error
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #eee;
    padding: 5px;
}
 /* end error page */
.loading-center{
    justify-content: center;
    align-items : center;
    display: flex;
  
    
}
.firs-login-page-one{
   
    overflow: hidden;
  
}
.login-scroll-Heigth{
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    max-height: 75vh;
    margin-bottom: 1rem;
    box-sizing: inherit;
   
}
.login-scroll-Heigth::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  .login-scroll-Heigth::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .login-scroll-Heigth::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .login-scroll-Heigth::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.POstion-form{
    height: 430px;
    overflow: hidden;
    overflow-y: auto;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid white;
    outline: 0;
    height: 90vh;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-top: 0rem;
 
}
 /* Start with facbook other */
 .login-other-color{
    background-color: #3578E5;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.9;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.login-other-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 3px;
    background-color: white;    
}
.login-other-color span{
    
    text-transform: capitalize;
 
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 12px;
}

.login-other-color.login-box-color{
    background-color: white;
  
}.login-other-color.login-box-color span{
    color: black;
}

/* End facbook */

.login-margin-top-bottom
{
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    
}
.text-align-center{
  
   text-align: center;
   font-size: 16px;
}
.login-padding{
    padding: 0.5rem;
    /* background-color: thistle;
    border-bottom: 1px solid #eee; */
    
}
.login-text-{
    display: flex;
    align-items: center;
    justify-content : space-between;
    width: 100%;
}
.login-text-one{
    width: 100%;
    background-color: #eee;
    height: 0.1rem;
}
.login-text-center{
    width: 100%;
    text-transform: capitalize;
    font-size: 13px;
    text-align: center;
    color: black;
}
.login-text-tew{
    width: 100%;
    background-color: #eee;
    height: 0.1rem;
}


.login-padding h1{
    font-family: system-ui;
    font-size: 27px;
    text-align: center;
    text-transform: capitalize;
    color: black;
}.login-padding p{
    text-align: center;
    opacity: 0.6;
    color: black;
  
}

.login-padding{
    margin-bottom: 1rem;
}
.center-c-more{
    width: 42px;
    text-align: center;
}
.center-c-more-style{
    font-size: 24px;
}

.login-text-bottom{
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
}
.margin-bottom{
    margin-bottom: 0.5rem;
}
.singUp-top{
    margin-top: 3rem;
}
.singUp-bottom{
    margin-bottom: 2rem;
}
.border-bottom-x{
    border-bottom: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Login-Close-Image-rigth{
    cursor: pointer;
    color: white;
}
.Input-Handle-icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.Icons-LEFT{
    position: absolute;
    left: 0.5rem;
    font-weight: bold;
    font-size: 20px;
    color: #ff9c97;
}
.Icons-LEFT.halve-searching{

  left: 0.5rem;
  font-size: 17px;
 
}

.Icons-LEFT-right{
    position: absolute;
    right: 0.5rem;
    color: #ff9c97;
    font-weight: bold;
    font-size: 20px;
}
.Icons-LEFT-Show-password{
    position: absolute;
    right: 2rem;
    color: #ff9c97;
    font-weight: bold;
    font-size: 20px;
}
.forgetPassword{
    text-transform: capitalize;
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}.forgetPassword:hover{
    color: red;
}
.forget-password{
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    object-fit: cover;
    text-align: center;
    transition: all 1s;
   opacity: 0.7;
   position: relative;
}
.forget-password-successfully{
    
   
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.forget-password:hover{
    opacity: 1;
}
.Login-Close-Image-rigth.add-left{
    margin-left: 0rem;
    margin-bottom: 0.5rem;
}
.Login-Close-Image-rigth{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ff9d97;
    padding: 7px;
    opacity: 0.7;
    transition: all 1s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: all 2s;
    color: white;
}
.Login-Close-Image-rigth:hover{
    opacity: 1;
    transform: rotate(20deg);
}
.add-Left-right{
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}
.Login-Close-Image-rigth.left-black{
    margin-left: auto;
    display: block;
    transition: all 2s;
}

@media only screen and (max-width: 800px) {
    .change-password{
        padding: 0.5rem;
    }
    .change-password h1{
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        font-size: 17px;
    }
}

@media only screen and (max-width: 390px) {
    .Icons-LEFT.halve-searching{
        display: none;
    }
}


