
.top-margin-left-about{
    margin-top: 7rem;
   
}
.about-image-class{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.about-name{
    font-family: "Mochiy Pop P One", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 1rem;
    cursor: pointer;
}

.about-about-us{
    font-size: 15px;
    text-transform: capitalize;
    cursor: pointer;
}

.about-bottom{
    margin-bottom: 1rem;
  
   
}



/* @media only screen and (max-width: 400px) {
    .about-bottom{
       
      
      
    }
} */
