

.container_color_footer{
    color: black;
    margin-top: 4rem;
    text-transform: capitalize;
    background-color: #eeeeeec4;
}
.bottom-max-footer{
    margin-bottom: 50px;
    margin-top: 10px;
}

